<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Товары</h1>
        <ul>
            {% for good in goods %}
            <li>
                <h3>ID</h3>
                {{ good.id }}
                <h3>Name</h3>
                {{ good.name }}
                <h3>Quantity</h3>
                {{ good.quantity }}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>